body{
  

}
video {

    height:700px;
    z-index: -2;
 
    margin-top: 80px;
    margin-left: 47px;

  }

  button {
    display: none;
    background-color: #666;
    border: medium none;
    color: #fff;
    display: block;
    font-size: 18px;
    padding: 8px 16px;
    position: absolute;
    top:415px;
    left:220px;
    z-index:2;
}
#container {
    height:600px;
    width: 300px;
    /* width: 50vw;
    height: 50vh; */
    margin-left:14px;
    display: flex;
}
#phone {
    position: relative;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    /* width: ; */
    /* height: 160%; */
    width: 573px;
    height:1000px;
    z-index: -1;
}
video:hover + button:hover {
    display:block
}
button.active {
    background-color: #0077a2;
  }