video {
    height:700px;
    z-index: -2;
    margin-top: 80px;
    margin-left: 47px;
  }

#playButton{
    border: medium none;
    color: #0077a2;
    display: block;
    height: 90px;
    padding: 8px 16px;
    position: absolute;
    top:415px;
    left:220px;
    z-index:2;
    transition: opacity 0.3s ease-in-out;
}
#playButton.fade {
    opacity:0;
}
#pauseButton{
    display: none;
    border: medium none;
    color: #0077a2;
    height: 90px;
    padding: 8px 16px;
    position: absolute;
    top:415px;
    left:220px;
    z-index:2;
    transition: opacity 0.3s ease-in-out;
}
#pauseButton.fade {
    opacity:0;
}
#container {
    height:600px;
    width: 300px;
    margin-left:14px;
    display: flex;
}
#phone {
    position: absolute;
    width: 573px;
    height:1000px;
    z-index: -1;
}
button:hover {
    display:block
}
.active {
    color: #ffff;
    cursor: hand;
  }